/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #1A1A1A;
    color: #fff;
}
h1{
    font-size: 38px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 26px;
}
/* The Header */
header{
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 25px;
}
header a{
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
}
/* Idea Generator */
#idea-search-section{
    padding-top: 5%;
    width: 80%;
    text-align: center;
    margin: auto;
}
#idea-search-section img{
    width: 4%;
    display: inline;
}
#idea-search-section h1{
    display: inline;
    padding-top: 35px;
    padding-bottom: 50px;
}
/* The Search Box*/
#idea-search-section input{
    display: block;
    width: 50%;
    clear: both;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    background-color: #fff;
    color: #111;
    text-decoration: none;
    border: 1px solid #111;
    padding: 12px;
    font-weight: 900;
    transition: all ease-in-out 180ms;
}


/* The Results Display */
#search-results-display{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
/* A Result Item */
.result-item{
    padding: 8px;
}
.result-item h4{
    font-size: 28px;
}